@keyframes cpu {
  0% {
    transform: perspective(0) rotateX(60deg) translateY(0px);
  }
  25% {
    transform: perspective(0) rotateX(60deg) translateY(100px);
  }
  50% {
    transform: perspective(0) rotateX(60deg) translateY(0px);
  }
  75% {
    transform: perspective(0) rotateX(60deg) translateY(-100px);
  }
  100% {
    transform: perspective(0) rotateX(60deg) translateY(0px);
  }
}
