@keyframes cpu {
  0% {
    transform: perspective(0) rotateX(60deg) translateY(0px);
  }
  25% {
    transform: perspective(0) rotateX(60deg) translateY(100px);
  }
  50% {
    transform: perspective(0) rotateX(60deg) translateY(0px);
  }
  75% {
    transform: perspective(0) rotateX(60deg) translateY(-100px);
  }
  100% {
    transform: perspective(0) rotateX(60deg) translateY(0px);
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes context {
  0% {
    color: #2196f3;
    text-shadow: 0 0 45px #2196f3;
  }
  50% {
    color: #d9dde0;
    text-shadow: 0 0 45px #d9dde0;
  }
  100% {
    color: #2196f3;
    text-shadow: 0 0 45px #2196f3;
  }
}
